# Python
__pycache__/
.idea

# Temp files
*~

# Commit file
[Nn]otes.txt
[Cc]ommit[Mm]essage*
[Cc]ommit[Mm]sg*
[Cc]ommit[-_][Mm]essage*
[Cc]ommit[-_][Mm]sg*

# Log files
_vizdoom.ini
temp.txt
temp_log_file.txt

tensorboard/